<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/reset.min.css">
  <link rel="stylesheet" href="../static/css/main.min.css">
  <link rel="stylesheet" href="../static/css/index.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/index.js"></script>
  <title>tukutter | top</title>
</head>
<body>
  <main id="index">
    <header>
      <div class="profile">
        <a href="#"><img src="../static/img/profile.png" alt=""></a>
        <a href="/plofile/{{name}}"><p>{{name}}</p></a>

      </div>
      <nav>
        <ul>
          <li><a href="/top">top</a></li>
          <li><a href="/search">検索</a></li>
          <li><a href="/tubuyaita-">つぶやく</a></li>
          <li><a href="/favorite">お気に入り</a></li>
          <li><a href="/logout">ログアウト</a></li>
        </ul>
      </nav>
    </header>

    <div class="stream">

      {% for row in rows %}
      <div class="content">
        <div class="stream-header">
          <a href="#"><img src="../static/img/profile.png" alt=""></a>
          <p>
            <a href="/plofile/{{row[2]}}"><span class="user-name">{{row[2]}}</span></a>
            <span class="tweet-time">{{row[10]}}</span>

            <a href="/follow/{{row[0]}}"><span class="follow">フォロー中</span></a>

          </p>
        </div>
        <div class="inline">
          <div class="stream-content">
            <p>{{row[9]}}</p>
          </div>
          <div class="stream-footer">
            <div class="favorite">
              <a href="/favoritelog"><img src="../static/img/logo-pic.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </main>
</body>
</html>
